{% extends "!layout.html" %} {% block footer %} {{ super() }}

<style>
  /*
  Colors from: https://www.uab.edu/toolkit/brand-basics/colors
  */

  /* Sidebar header (and topbar for mobile) */
  .wy-side-nav-search,
  .wy-nav-top {
    background: #1e6b52; /* UAB Green */
  }
  /* Sidebar */
  .wy-nav-side {
    background: #144b39; /* Digital Dragon's Lair Green (DDLG) */
  }
  /* Sidebar Header */
  .wy-menu-vertical header,
  .wy-menu-vertical p.caption {
    color: #ffd400; /* Loyal Yellow. Only non-white that contrasts DDLG */
  }
</style>
{% endblock %}
